<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Template</title>

    <!--Link para os estilos do layout-->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

</head>

<body>

    <!--TOPO-->
    <div id="topo">
        <div class="logo">
            <img src="img/logo.png" title="Template Web Standards" alt="Web Standards" />
        </div>
    </div>

    <!--INICIO DO MENU-->

    <nav>
        <a href="" class="ativo">Link 01</a>
        <a href="">Link 02</a>
        <a href="">Link 03</a>
        <a href="">Link 04</a>
        <a href="">Link 05</a>
    </nav>

    <!--INICIO DO CONTAINER-->
    <div id="container">

        <!--CONTEUDO---------------------------------------------------->
        <div class="box">

        </div>

    </div>

    <!--INICIO DO FOOTER-->
    <footer>
        <div id="rodape">

            <div id="t_rodape">
                <p>Template Web Standards</p>
                <p>Todos os Direitos Reservados - <a href="http://www.versatildf.com.br" target="_blank">Versátil
                        Tecnologia</a></p>

            </div>

        </div>
    </footer>

</body>

</html>
